<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div class="container" layout:fragment="content">
  <main class="main">
    <div class="page-header">
      <div class="container d-flex flex-column align-items-center">
        <h1>비밀번호 찾기</h1>
      </div>
    </div>

    <div class="container reset-password-container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="feature-box border-top-primary">
            <div class="feature-box-content">

              <!-- 에러 메시지 -->
              <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
              <!-- 성공 메시지 -->
              <div th:if="${msg}" class="alert alert-info" th:text="${msg}"></div>

              <form class="mb-0" th:action="@{/password/pwInquiry}" method="post">
                <p>
                  비밀번호를 잊으셨나요? <br />
                  회원가입 시 사용한 <strong>이메일</strong> 주소를 입력해 주세요.
                  <br />
                  입력하신 이메일로 비밀번호 재설정 링크를 보내드립니다.
                </p>
                <div class="form-group mb-0">
                  <label for="reset-email" class="font-weight-normal">이메일</label>
                  <input type="email" class="form-control" id="reset-email" name="reset-email" required />
                </div>

                <div class="form-footer mb-0 mt-3">
                  <a th:href="@{/login}">로그인</a>
                  <button type="submit"
                          class="btn btn-md btn-primary form-footer-right font-weight-normal text-transform-none mr-0">
                    비밀번호 찾기
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</html>