<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div class="container" layout:fragment="content">
    <main class="main">
        <div class="page-header">
            <div class="container d-flex flex-column align-items-center">
                <h1>로그인</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">

                <div th:if="${errorMessage}" class="alert alert-danger text-center">
                    <p th:text="${errorMessage}"></p>
                </div>

                <form id="loginForm" th:action="@{/auth/login}" method="post">
                    <label for="login-email">이메일 <span class="required">*</span></label>
                    <input type="email" class="form-input form-wide mb-2" id="login-email" name="memberId" required/>

                    <label for="login-password">비밀번호 <span class="required">*</span></label>
                    <input type="password" class="form-input form-wide mb-2" id="login-password" name="memberPw" required/>

                    <button type="submit" class="btn btn-dark btn-md w-100 mb-4">로그인</button>
                </form>

                <div class="text-center mt-4">
                    <div class="btn-group" role="group">
                        <a href="/oauth2/authorization/google" class="btn btn-outline-secondary">Google</a>
                        <a href="/oauth2/authorization/naver" class="btn btn-outline-success">Naver</a>
                        <a href="/oauth2/authorization/discord" class="btn btn-outline-info">Discord</a>
                    </div>
                    <p class="mb-2 font-weight-bold mt-2">소셜 계정으로 로그인</p>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="/js/api.js"></script>
<script src="/js/auth.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (document.cookie.includes("ACCESS_TOKEN")) {
            startRefreshTimer();
        }
    });
</script>

</html>
