<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script type="text/javascript" th:src="@{/assets/js/product/rxt3060Ti.js}" defer></script>
    <script type="text/javascript" th:src="@{/assets/js/notification/stockTrack.js}" defer></script>
    <!--    <script type="text/javascript" th:src="${@environment.getProperty('cloud.aws.cloudfrontpath')+'/assets/js/product/rxt3050.js'}" defer></script>-->

</head>
<div class="container" layout:fragment="content">
    <main class="main">
        <!-- 이미지와 설명 섹션 - 가로 배치 -->
        <section class="product-header d-flex">
            <div class="image-container">
                <img src="/assets/images/product/rtx3060ti.jpeg" alt="NVIDIA RTX 3060ti">
                <!--                <img th:src="${@environment.getProperty('cloud.aws.s3path') + '/product/rtx3050.jpeg'}" alt="NVIDIA RTX 3050">-->
                <!--                <img th:src="${@environment.getProperty('cloud.aws.cloudfrontpath') + '/product/rtx3050.jpeg'}" alt="NVIDIA RTX 3050">-->

            </div>
            <div class="description-container ml-3">
                <h1>NVIDIA RTX 3060Ti</h1>
                <p><strong>재고 및 가격 추적 시스템</strong></p>
                <p>RTX 3060TI 출시일 및 재입고 알림 받기!</p>
                <ul>
                    <li><strong>시작가: $1,999</strong></li>
                    <li><strong>출시일: 1월 30일</strong></li>
                </ul>
                <p>현재 <span id="product-count"> </span> 매장에서 NVIDIA RTX 5090 재고 추적 중</p>
            </div>
        </section>

        <section class="alert-settings">

            <div class="lowest price">

            </div>


            <div class="d-flex justify-content-end mb-3">
                <div class="refresh-info ml-auto">
                    새로고침
                </div>
            </div>
        </section>


        <section class="product-list">
            <table class="table">
                <thead>
                <tr>
                    <th>제품명</th>
                    <th>재고 상태</th>
                    <th>최근 가격</th>
                    <th>알림 설정</th>
                </tr>
                </thead>
                <tbody>
                <!-- JavaScript가 여기에 동적으로 행을 추가합니다 -->
                <!--                    <td>-->
                <!--                        <button type="button" class="btn btn-md btn-primary btn-ellipse">-->
                <!--                            <i class="icon-bell"></i> Track-->
                <!--                        </button>-->
                <!--                    </td>-->
                </tr>
                </tbody>

            </table>
        </section>

    </main>
</div>
</html>
