<html>
<head>
    <style>
        .container { font-family: Arial, sans-serif; padding: 20px; background-color: #f9f9f9; }
        .header { font-size: 24px; color: #333; margin-bottom: 10px; }
        .content { font-size: 16px; color: #555; }
        .footer { font-size: 12px; color: #999; margin-top: 20px; }
    </style>
</head>
<body>
<div class="container">
    <div class="header">관심 상품 등록 완료</div>
    <div class="content">
        안녕하세요, 귀하의 관심 상품 등록이 성공적으로 완료되었습니다.<br/>
        등록된 상품 이름: {{productName}}<br/>
        등록된 상품 URL: {{interestProductUrl}}
    </div>
    <div class="footer">본 메일은 발신 전용입니다.</div>
</div>
</body>
</html>
