<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<link rel="stylesheet" th:href="@{/assets/css/style.min.css}">

<head>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/assets/css/style.min.css}">
    </th:block>
</head>

<div class="container mt-4" layout:fragment="content">
    <main class="main">
        <div class="page-header">
            <div class="container d-flex flex-column align-items-center">
                <h1>관심상품</h1>
            </div>
        </div>

        <div class="container">
            <div class="wishlist-title">
                <h2 class="p-2">내 관심상품 리스트</h2>
            </div>
            <div class="wishlist-table-container">
                <table class="table table-wishlist mb-0">
                    <thead>
                    <tr>
                        <th class="thumbnail-col"></th>
                        <th class="product-col">카테고리</th>
                        <th class="price-col">상품명</th>
                        <th class="status-col">재고 상태</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- 반복문으로 wishlist db에서 가져옴  -->
                    <tr class="product-row">
                        <td>
                            <figure class="product-image-container">
                                <a th:href="@{/product/productDetail}" class="product-image">
                                    <img th:src="@{/assets/images/products/product-4.jpg}" alt="product">
                                </a>

                                <a href="#" class="btn-remove icon-cancel" title="Remove Product"></a>
                            </figure>
                        </td>
                        <td>
                            <h5 class="product-title">
                                <td class="price-box">Men Watch</td>
                            </h5>
                        </td>
                        <td class="price-box">
                            <a th:href="@{/product/productDetail}">Men Watch</a>
                        </td>
                        <td>
                            <span class="stock-status">재고 있음</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div><!-- End .cart-table-container -->
        </div><!-- End .container -->
    </main><!-- End .main -->
</div>
</html>