<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div class="container" layout:fragment="content" >
    <main class="main">
        <div class="home-slider slide-animate owl-carousel owl-theme show-nav-hover nav-big mb-2 text-uppercase" data-owl-options="{
				'loop': false
			}" data-animation-name="fadeInUpShorter" style="background-color: white;">
            <div class="home-slide home-slide1 banner" style="height: 400px; background-color: white; padding-top: 100px;">
                <div class="container d-flex align-items-center">
                    <div class="banner-layer appear-animate" data-animation-name="fadeInUpShorter">
                        <h4 class="text-transform-none m-b-3">최고의 부품, 최저가로 만나보세요!</h4>
                        <h2 class="text-transform-none mb-0">CPU &amp; GPU 최저가 검색</h2>
                        <h3 class="m-b-3">실시간 가격 비교 <br> 서비스</h3>
                        <h5 class="d-inline-block mb-0">
                            <span>최저가는</span>
                            <b class="coupon-sale-text text-white bg-secondary align-middle">
                                <sup>₩</sup><em class="align-text-top">50,000</em>
                            </b>
                        </h5>
                        <a href="/product/productDetail" class="btn btn-dark btn-lg">지금 확인하기</a>
                    </div>
                    <!-- End .banner-layer -->
                </div>
            </div>
            <!-- End .home-slide -->

            <div class="home-slide home-slide2 banner" style="height: 400px; background-color: white; padding-top: 100px;">
                <div class="container d-flex align-items-center">
                    <div class="banner-layer d-flex justify-content-center appear-animate" data-animation-name="fadeInUpShorter">
                        <div class="mx-auto">
                            <h4 class="m-b-1">추가 할인</h4>
                            <h3 class="m-b-2">최대 20% 절약</h3>
                            <h3 class="mb-2 heading-border">부품 액세서리</h3>
                            <h2 class="text-transform-none m-b-4">특가 이벤트</h2>
                            <a href="/product/productDetail" class="btn btn-block btn-dark">전체 상품 보기</a>
                        </div>
                    </div>
                    <!-- End .banner-layer -->
                </div>
            </div>
            <!-- End .home-slide -->
        </div>
        <!-- End .home-slider -->

        <div class="container">
            <div class="info-boxes-slider owl-carousel owl-theme mb-2"
                 data-owl-options="{
                                'dots': false,
                                'loop': false,
                                'responsive': {
                                                '576': {
                                                        'items': 2
                                                        },
                                                '992': {
                                                        'items': 3
                                                        }
                                                }
                                    }">

                <!-- 실시간 재고 업데이트 -->
                <div class="info-box info-box-icon-left">
                    <i class="icon-support"></i>
                    <div class="info-box-content">
                        <h4>실시간 재고 업데이트</h4>
                        <p class="text-body">여러 쇼핑몰의 부품 재고를 즉시 확인하세요!</p>
                    </div>
                </div>
                <!-- End .info-box -->

                <!-- 최저가 자동 비교 -->
                <div class="info-box info-box-icon-left">
                    <i class="icon-money"></i>
                    <div class="info-box-content">
                        <h4>최저가 자동 비교</h4>
                        <p class="text-body">다양한 판매처의 가격을 한눈에 비교해 최적의 구매를!</p>
                    </div>
                </div>
                <!-- End .info-box -->

                <!-- 전문가 맞춤 상담 -->
                <div class="info-box info-box-icon-left">
                    <i class="icon-support"></i>
                    <div class="info-box-content">
                        <h4>전문가 맞춤 상담</h4>
                        <p class="text-body">부품 선택이 어려우신가요? 전문가에게 문의하세요!</p>
                    </div>
                </div>
                <!-- End .info-box -->

            </div>
            <!-- End .info-boxes-slider -->

            <div class="banners-container mb-2">
                <div class="banners-slider owl-carousel owl-theme" data-owl-options="{
						'dots': false
					}">
                    <div class="banner banner1 banner-sm-vw d-flex align-items-center appear-animate" data-animation-name="fadeInLeftShorter" data-animation-delay="500">
                        <figure class="w-100">
                            <img th:src="@{/assets/images/main/banner_top_1.jpg}"  alt="banner" width="380" height="175" />
                        </figure>
                    </div>
                    <!-- End .banner -->

                    <div class="banner banner3 banner-sm-vw d-flex align-items-center appear-animate" data-animation-name="fadeInUpShorter" data-animation-delay="200">
                        <figure class="w-100">
                            <img th:src="@{/assets/images/main/banner_top_2.jpg}" alt="banner" width="380" height="175" />
                        </figure>
                    </div>
                    <!-- End .banner -->

                    <div class="banner banner3 banner-sm-vw d-flex align-items-center appear-animate" data-animation-name="fadeInRightShorter" data-animation-delay="500">
                        <figure class="w-100">
                            <img th:src="@{/assets/images/main/banner_top_3.jpg}" alt="banner" width="380" height="175" />
                        </figure>
                    </div>
                    <!-- End .banner -->
                </div>
            </div>

        </div>
        <!-- End .container -->

        <section class="featured-products-section">
            <div class="container">
                <h2 class="section-title heading-border ls-20 border-0">인기 부품</h2>

                <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center" data-owl-options="{
						'dots': false,
						'nav': true
					}">
                    <!-- 반복문으로 출력 -->
                    <div class="product-default appear-animate" data-animation-name="fadeInRightShorter">
                        <figure>
                            <a href="/product/gpu/rtx3060Ti">
                                <img th:src="@{/assets/images/product/rtx3060ti.jpeg}"  width="280" height="280" alt="product">
                            </a>
                            <div class="label-group">
                                <div class="product-label label-hot">HOT</div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <div class="category-list">
                                <a href="/product/productDetail" class="product-category">CPU</a>
                            </div>
                            <h3 class="product-title">
                                <a href="/product/gpu/rtx3060Ti">NVIDIA GeForce RTX 3060 Ti</a>
                            </h3>
                            <div class="price-box">
                                <span class="old-price">$700.00</span>
                                <span class="product-price">$630.00</span>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class="icon-heart"></i><span>관심상품 추가</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="product-default appear-animate" data-animation-name="fadeInRightShorter">
                        <figure>
                            <a href="/product/cpu/ryzen8000">
                                <img th:src="@{/assets/images/product/ryzen7000.jpeg}"  width="280" height="280" alt="product">
                            </a>
                            <div class="label-group">
                                <div class="product-label label-hot">HOT</div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <div class="category-list">
                                <a href="/product/productDetail" class="product-category">CPU</a>
                            </div>
                            <h3 class="product-title">
                                <a href="/product/cpu/ryzen8000">AMD RYZEN 8000</a>
                            </h3>
                            <div class="price-box">
                                <span class="old-price">$450.00</span>
                                <span class="product-price">$400.00</span>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class="icon-heart"></i><span>관심상품 추가</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="product-default appear-animate" data-animation-name="fadeInRightShorter">
                        <figure>
                            <a href="/product/gpu/rtx3050">
                                <img th:src="@{/assets/images/product/rtx3050.jpeg}" width="280" height="280" alt="product">
                            </a>
                            <div class="label-group">
                                <div class="product-label label-hot">HOT</div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <div class="category-list">
                                <a href="/product/productDetail" class="product-category">GPU</a>
                            </div>
                            <h3 class="product-title">
                                <a href="/product/gpu/rtx3050">NVIDIA GeForce RTX 3050</a>
                            </h3>
                            <div class="price-box">
                                <span class="old-price">$800.00</span>
                                <span class="product-price">$680.00</span>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class="icon-heart"></i><span>관심상품 추가</span></a>
                            </div>
                        </div>
                    </div>

                    <div class="product-default appear-animate" data-animation-name="fadeInRightShorter">
                        <figure>
                            <a href="/product/gpu/rtx3060Ti">
                                <img th:src="@{/assets/images/product/rtx3060ti.jpeg}"  width="280" height="280" alt="product">
                            </a>
                            <div class="label-group">
                                <div class="product-label label-hot">HOT</div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <div class="category-list">
                                <a href="/product/productDetail" class="product-category">GPU</a>
                            </div>
                            <h3 class="product-title">
                                <a href="/product/gpu/rtx3060Ti">NVIDIA GeForce RTX 3060 Ti</a>
                            </h3>
                            <div class="price-box">
                                <span class="old-price">$700.00</span>
                                <span class="product-price">$630.00</span>
                            </div>
                            <div class="product-action">
                                <a href="#" class="btn-icon btn-add-cart product-type-simple"><i class="icon-heart"></i><span>관심상품 추가</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .featured-products -->
            </div>
        </section>

        <section class="new-products-section">
            <div class="container">

                <div class="banner banner-big-sale appear-animate" data-animation-delay="200" data-animation-name="fadeInUpShorter" style="background: #2A95CB center/cover">
                    <div class="banner-content row align-items-center mx-0">
                        <div class="col-md-9 col-sm-8">
                            <h2 class="text-white text-uppercase text-center text-sm-left ls-n-20 mb-md-0 px-4">
                                <b class="d-inline-block mr-3 mb-1 mb-md-0">대형 할인</b> 최신 부품 최대 70% 할인
                                <small class="text-transform-none align-middle">온라인 구매 전용</small>
                            </h2>
                        </div>
                        <div class="col-md-3 col-sm-4 text-center text-sm-right">
                            <a class="btn btn-light btn-white btn-lg" href="/product/productDetail">자세히 보기</a>
                        </div>
                    </div>
                </div>

                <h2 class="section-title categories-section-title heading-border border-0 ls-0 appear-animate" data-animation-delay="100" data-animation-name="fadeInUpShorter">부품 카테고리 둘러보기
                </h2>

                <div class="categories-slider owl-carousel owl-theme show-nav-hover nav-outer">

                    <!-- 카테고리 반복문으로 뜨게 -->
                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="/product/productDetail">
                            <figure>
                                <img th:src="@{/assets/images/main/graphic.jpg}" alt="category" width="280" height="240" style="object-fit: contain;" />
                            </figure>
                            <div class="category-content">
                                <h3>그래픽 카드</h3>
                                <span><mark class="count">3</mark> 제품</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="/product/productDetail">
                            <figure>
                                <img th:src="@{/assets/images/main/CPU.jpg}" alt="category" width="400" height="240" style="object-fit: contain;" />
                            </figure>
                            <div class="category-content">
                                <h3>CPU</h3>
                                <span><mark class="count">3</mark> 제품</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="/product/productDetail">
                            <figure>
                                <img th:src="@{/assets/images/main/GPU.jpg}" alt="category" width="280" height="240" style="object-fit: contain;" />
                            </figure>
                            <div class="category-content">
                                <h3>GPU</h3>
                                <span><mark class="count">3</mark> 제품</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="/product/productDetail">
                            <figure>
                                <img th:src="@{/assets/images/main/SSD.jpg}" alt="category" width="280" height="240" style="object-fit: contain;" />
                            </figure>
                            <div class="category-content">
                                <h3>SSD</h3>
                                <span><mark class="count">3</mark> 제품</span>
                            </div>
                        </a>
                    </div>

                    <div class="product-category appear-animate" data-animation-name="fadeInUpShorter">
                        <a href="/product/productDetail">
                            <figure>
                                <img th:src="@{/assets/images/main/mainboard.jpg}" alt="category" width="280" height="240" style="object-fit: contain;" />
                            </figure>
                            <div class="category-content">
                                <h3>메인보드</h3>
                                <span><mark class="count">3</mark> 제품</span>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </section>

    </main>
    <!-- End .main -->
</div>
</html>
